.btn-secondary {
    color: white;
    background-color: darkgrey;
    border-color: darkgrey; /*set the color you want here*/
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color:darkgrey;
    background-color: white;
    border-color: white; /*set the color you want here*/
}

/* .button:hover span {
    padding-right: 25px;
  } */

